/*
 * Appointments! :D
 */

.appointments > .well {
  text-align: center;
  position: relative;
  max-width:220px;
  white-space: normal;
  cursor: pointer;

  button {
    width:100%;
  }

  &.is-late {
    opacity: 0.5;
    border: 3px dashed #000;
  }

  .gender-label {
    display:block;
  }

  input .date {
    padding:0 10px;
  }

  .time {
    font-weight: bold;
  }

  &.new {
    cursor: initial;
    text-align: left;
  }
}